{% extends 'base.html' %}
{% block content %}
<!-- {% load static %} -->
<!-- <link rel="stylesheet" href="/static/css/new.css"> -->
<div class="jumbutron">
    <h1>Please Login</h1>
    <form action="{% url 'core:login' %}" method="POST"> 
        {% csrf_token %}
        <label for="username">Username</label>
         <input type='text' name='username' placeholder='Enter User Name'><br><p></p>

        <label for="password">Password</label>
        <input type="password" name="password"><br><p></p>

        <input type="submit" name="" value="Login">

    </form>
</div>
{% endblock content %}
